## Build object File
WizFi360-S2U_Nucleo-F401/MDK-ARM/WizFi360-S2U_Nucleo-F401/

## Project File
*.uvguix.*
#*.uvoptx
#*.uvprojx
WizFi360-S2U_Nucleo-F401/MDK-ARM/*.scvd
WizFi360-S2U_Nucleo-F401/MDK-ARM/DebugConfig
